asgiref==3.5.2
attrs==22.1.0
blinker==1.4
Brlapi==0.8.3
certifi==2022.6.15
charset-normalizer==2.1.1
cupshelpers==1.0
Django==4.1
django-auth-ldap==4.1.0
django-extensions==3.2.0
django-ldap==0.0.8
django-rosetta==0.9.8
django-user-language-middleware==0.0.3
idna==3.3
iniconfig==1.1.1
ldap3==2.9.1
louis==3.20.0
packaging==21.3
parler==1.0.1
pexpect==4.8.0
pluggy==1.0.0
polib==1.1.1
psycopg2-binary==2.9.3
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycups==2.0.1
pyldap==3.0.0.post1
pyparsing==3.0.9
pytest==7.1.2
python-ldap==3.4.2
requests==2.28.1
sqlparse==0.4.2
tomli==2.0.1
ubuntu-advantage-tools==27.10
ufw==0.36.1
urllib3==1.26.12
xdg==5
