{% extends 'backups/index.html' %}
    {% load i18n %}
    {% load static %}
{% block title %} {% trans "Add Machine" %}{% endblock %}
{% block head %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/eng_request.css' %}" />
    <script type="text/javascript" src="{% static 'js/eng_request.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %} 
{% block content %}
    <section class = 'index-section'>
        
    </section>
{% endblock %}
