<!DOCTYPE ='html'>
<html lang="pl">
    {% load i18n %} {% load static %}
    <head>
        <title>{% block title %}Backup Monitor{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Pragma-directive: no-cache" />
        <meta http-equiv="Cache-directive: no-cache" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}" />
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
        {% endblock %}
        <!-- prettier-ignore -->
        {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as AVAILABLE_LANGUAGES %}
        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
    </head>

    <body>
        <header>
            {% block header %}
            <img id="logo" src="{% static 'img/logo.png' %}" />
            <p id="header-text">Backup Monitor</p>
            <div class="languages">
                {% for language in languages %}
                    <a href="/{{ language.code }}/" class="languages-a"><figure><img src = "{% static "" %}img/flag/{{language.code}}.png" /></figure> </a>
                {% endfor %}
            </div>
            <a id="header-btn" href="/{{CURRENT_LANGUAGE}}/backups">{% trans "home_btn" %}</a>
            {% if user.is_authenticated %}
                <a id="header-btn" href="/{{CURRENT_LANGUAGE}}/logout/">{% trans "log_out" %}</a>
            {% else %}
                <a id="header-btn" href="/{{CURRENT_LANGUAGE}}/login/">{% trans "log_in" %}</a>
            {% endif %} {% endblock %}
        </header>
        <div class="main">
            <nav class = 'nav'>
                <ul class = 'nav-ul'>
                    
                    {% if is_IT %}
                        <li class = 'nav-li'><a href= ''>{% trans "nav_home" %}</a></li>
                        <li class = 'nav-li'><a href= ''>{% trans "nav_addmachine" %}</a></li>
                        <li class = 'nav-li'><a href= ''>{% trans "nav_machines" %}</a></li>
                    {% endif %}
                    {% if is_Engineer %}
                        <li class = 'nav-li'><a href= ''>{% trans "nav_home" %}</a></li>
                        <li class = 'nav-li'><a href= ''>{% trans "nav_mybackups" %}</a></li>
                        <li class = 'nav-li'><a href= ''>{% trans "nav_mymachines" %}</a></li>
                        <li class = 'nav-li'><a href= ''>{% trans "nav_dashboard" %}</a></li>
                        <li class = 'nav-li'><a href= ''>{% trans "nav_requestbackup" %}</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% block content %}
            <section>
                {% comment %}django-admin makemessages --all django-admin compilemessages {% endcomment %}
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </section>
        </div>
        {% endblock %}
    </body>
</html>
