{% extends 'backups/index.html' %} {% load i18n %} {% load static %} {% block title %} {% trans "All Machines" %}{% endblock %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/it_machines.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}" />
<script type="text/javascript" src="{% static 'js/it_machines.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
{% endblock %} {% block content %}
<section class="index-section">
    <table id="table-reports">
        <thead>
            <tr>
                <th>Holistech</th>
                <th>{% trans 'th_IPAddress' %}</th>
                <th>{% trans 'th_hostname' %}</th>
                <th>{% trans 'th_fisname' %}</th>
                <th>{% trans 'th_area' %}</th>
                <th>{% trans 'th_owner' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for machine in allMachines %}
            <tr>
                {% for m in machine.values %}
                <td>{{m}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="hidden" id='current-language' value="{{CURRENT_LANGUAGE}}" />
</section>
{% endblock %}
