.index-section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.index-section h1 {
    margin-top: 15px;
    font-size: 50px;
}
#content-div {
    padding-top: 100px;
    height: 100%;
    width: 30%;
    display: flex;
    /* justify-content: center; */
    align-content: center;
    align-items: center;
    flex-direction: column;
}
#content-div label {
    font-size: 25px;
    margin-bottom: 20px;
    align-self: flex-start;
}
#content-div label:nth-of-type(2) {
    margin-top: 30px;
}
#content-div input,
#content-div textarea {
    width: 100%;
    height: 40px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
#content-div textarea {
    resize: none;
    height: 250px;
}
#content-div datalist {
    position: absolute;
    border: none;
    width: 100%;
}
#submit-btn-holistech {
    font-size: 20px;
    padding: 8px 20px;
    cursor: pointer;
    background-color: #0d1b26;
    color: #fff;
    border: none;
    transition: 0.3s;
    margin-top: 15px;
    align-self: flex-end;
}
#list-holistech {
    margin-bottom: 20px;
}
.machine-form input[type="submit"]:hover,
#submit-btn-holistech:hover {
    background-color: #46535e;
}
h2 {
    margin-top: 20px;
}
