.grid-div-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: calc(100vh - var(--header-height)) !important;
}
.grid-div-home table {
    margin-top: 10px;
    text-align: center;
}
th {
    text-align: center !important;
}
.grid-div-home > div {
    width: 95%;
}
