.index-section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
.dashboard-bar {
    position: fixed;
    top: var(--header-height);
    background-color: #0d1b26;
    height: 50px;
    width: calc(100vw - var(--nav-width));
    margin-left: var(--nav-width);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    z-index: 10;
}
.it-dash-btns {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
.it-dash-btns:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    color: #000;
}
#it-dash-mainp {
    font-size: 70px;
}
.content {
    height: calc(100% - var(--header-height) - 50px);
    width: calc(100vw - var(--nav-width));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 70px;
    text-align: center;
}
.dash-btn-clicked {
    background-color: #f0f0f0;
    color: #000;
}
#it-dash-backup-count,
#it-dash-newest-div,
#it-dash-oldest-div {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
}
#it-dash-backup-count {
    width: 50%;
}
.smallColumnTxt {
    font-size: 12px;
}

.hidden {
    display: none;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

td,
tr,
th {
    text-align: center !important;
}
th {
    font-size: 20px !important;
}
