section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.login-form label {
    font-size: 30px;
}
.login-form a,
p {
    font-size: 15px;
    text-decoration: none;
    color: #000;
}
.login-form input[type="submit"] {
    font-size: 20px;
    padding: 8px 20px;
    cursor: pointer;
    background-color: #0d1b26;
    color: #fff;
    border: none;
    transition: 0.3s;
    margin-bottom: 10px;
}
.login-form input[type="submit"]:hover {
    background-color: #46535e;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    font-size: 20px;
    width: 100%;
    height: 3vw;
    margin: 1vw 0 1vw 0;
}
.login-error {
    color: red;
    font-size: 20px;
    margin-bottom: 2vw;
}
