:root {
    --header-height: 50px;
    --nav-width: 200px;
}
* {
    margin: 0;
    padding: 0;
}
header {
    margin-top: 0;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: #0d1b26;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    z-index: 10;
}
section {
    z-index: 0;
}
#logo {
    height: var(--header-height);
}
#header-btn,
#header-text {
    height: 100%;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: 0.3s;
    text-decoration: none;
    color: white;
}

#header-btn:hover {
    background-color: #46535e;
    cursor: pointer;
}
#header-text {
    font-size: 35px;
}
.languages {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.languages img {
    height: 35px !important;
    padding-right: 10px;
}
.languages-a figure img {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.languages-a figure:hover img {
    opacity: 0.3;
}
.main {
    display: flex;
}
.index-section {
    width: calc(100vw - var(--nav-width));
    min-height: calc(100vh - var(--header-height));
    background-color: #f0f0f0;
    margin: var(--header-height) 0 0  var(--nav-width);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
}

nav {
    margin-top: var(--header-height);
    position: fixed;
    width: var(--nav-width);
    background-color: #0d1b26;
    height: calc(100vh - var(--header-height));
}

.nav-ul {
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 26px;
}
.nav-ul a,
.nav-ul p {
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    display: block;
}
.nav-li {
    transition: 0.3s;
}
.nav-li:hover {
    background-color: #46535e;
}

.grid-div-home h1 {
    margin-top: 10px;
    text-align: center;
}